[submodule "beatsaber-hook"]
	path = beatsaber-hook
	url = https://github.com/darknight1050/beatsaber-hook
[submodule "questui"]
	path = questui
	url = https://github.com/darknight1050/questui
[submodule "TwitchIRC"]
	path = TwitchIRC
	url = https://github.com/darknight1050/TwitchIRC.git
